{"filter":false,"title":"phpunit.xml","tooltip":"/phpunit.xml","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":4,"column":29},"end":{"row":4,"column":30},"action":"remove","lines":["s"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":10},"end":{"row":7,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493580068262,"hash":"b2d971eeb17252b235da8fd2b58a809664e79fe3"}